*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --neutral: #b8c1ec;
  --primary: #121629;
}


body {
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  background-color: var(--neutral)
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin-top: 30vh
}

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--neutral);
  font-size: 20px;
  border-bottom: 1px solid var(--primary);

}

.nav-links {
  display: flex;
  list-style: none;
  font-family: serif;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary);
  padding: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

section {
  padding: 70px 0;
  min-height: 100vh;
}

#header-content {
  background-color: var(--neutral);
  color: var(--primary);
  display: flex;
  flex-direction: column;
}

p {
  color: var(--primary);
  font-size: 25px;
  margin: 25px 0;
  font-style: italic;
}



#contact h1 {
  border-bottom: 5px solid var(--primary);
  width: fit-content;
  margin: auto;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
}

footer {
  border-top: 3px solid var(--primary);
  color: var(--primary);
  font-size: 25px;
  padding: 30px;
}



.contact.single {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  max-width: 800px;
  margin: auto;
}

.profile-box {
  background-color: #ffe0e1;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.5);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.profile-box img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
}
